<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Places I've Been!</title>
  </head>
  <body>
    <h1>My Places List</h1>

    <form action="/places" method="post">
      <label for="nameCity">Add a new City:</label>
      <input id="nameCity" name="nameCity" type="text">
      <label for="daysStayed">Duration of stay: </label>
      <input id="daysStayed" name="daysStayed" type="text">
      <label for="info">Add additional info: </label>
      <input id="info" name="info" type="text">
      <button type="submit">Add this place!</button>
    </form>

  </body>
</html>
