@using Places.Models;

<h1>Places List</h1>
<ul>

@if (Model.Count == 0)
{
  <p>You have no places in your list!</p>
}
@if(Model.Count != 0)
{
  @foreach (Place place in Model)
  {
    <li>Name of place: @place.NameCity
    <br>Number of days stayed: @place.DaysStayed
    <br>Additional info: @place.Info
    </li>
  }
}

</ul>

<a href="/places/new">Add a new place.</a>

<form action="/places/delete" method="post">
  <button type="submit" name="button">Clear all places</button>
</form>
